<a href="https://colab.research.google.com/github/Obaidkhan09/DataAnalysis/blob/main/Python_Revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello to Python Again..!")

Hello to Python Again..!

In [2]:
myName = input("Input Your Name: ")
print(myName)

Input Your Name: Obaid Ur Rahman
Obaid Ur Rahman

In [3]:
type(myName)

str

In [4]:
myAge = 24
is_my_age = myAge >=18 
type(is_my_age)

bool

In [5]:
 var1 = 4 + True
var2 = 3. * False
print(var1, " and ", var2)

5  and  0.0

In [6]:
nothing = None
type(nothing)

NoneType

In [7]:
paragraph = """
This is a Paragraph.!!
It's a Multiline String.!
You can write it with 3 Qoatations.
Amazing Right.!!
"""
paragraph

"\nThis is a Paragraph.!!\nIt's a Multiline String.!\nYou can write it with 3 Qoatations.\nAmazing Right.!!\n"

In [8]:
list1 = ["Monday", "Tuesday", "Wednesday"]
a = list1[1]
a = a[len(a)-1]
a

'y'

In [9]:
a = list1[0]
a = a[2:len(a)+1]
a

'nday'

In [10]:
a = list1[1].upper()
a

'TUESDAY'

In [11]:
'DAY' in a

True

In [12]:
'day' in a

False

In [13]:
a = a.replace('DAY', 'Day')
'Day' in a

True

In [14]:
"My name is Obaid Ur Rahman.".split(" ")

['My', 'name', 'is', 'Obaid', 'Ur', 'Rahman.']

In [15]:
myName = input('Input your Name: ')
myAge = input('Input Your Age: ')
myHobby = input('Input your Hobby: ')
string = "My name is {} & I'm {} years old, my Hobby is {}".format(myName, myAge, myHobby )
string

Input your Name: Obaid Ur Rahman
Input Your Age: 24
Input your Hobby: Learning.!

"My name is Obaid Ur Rahman & I'm 24 years old, my Hobby is Learning.!"

In [16]:
list1

['Monday', 'Tuesday', 'Wednesday']

In [17]:
list1.append('Thursday')
list1

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [18]:
list1[3] = 'Friday'
list1

['Monday', 'Tuesday', 'Wednesday', 'Friday']

In [19]:
list1.insert(3, 'Thursday')
list1

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [20]:
list1.append(None)
list1.insert(1, None)
list1

['Monday', None, 'Tuesday', 'Wednesday', 'Thursday', 'Friday', None]

In [21]:
list1.remove(None)
list1

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', None]

In [22]:
list1.insert(1, None)
list1.insert(3, None)
list1

['Monday', None, 'Tuesday', None, 'Wednesday', 'Thursday', 'Friday', None]

In [23]:
list1.pop(1)
list1

['Monday', 'Tuesday', None, 'Wednesday', 'Thursday', 'Friday', None]

In [24]:
for i in list1:
  if i == None:
    list1.remove(None)

list1

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [25]:
tuple1 =('Apple', 'Banana', 'Mango', 'Watermolon')
tuple1

('Apple', 'Banana', 'Mango', 'Watermolon')

In [26]:
tuple1[1:]

('Banana', 'Mango', 'Watermolon')

In [28]:
tuple1[0] = 'Can not modify Tuple'

TypeError: ignored

In [29]:
dict1 = {
    'name' : 'Obaid Ur Rahman',
    'age' : 24,
    'sex' : 'Male',
    'address' : 'Clifton'
}
dict1.items()

dict_items([('name', 'Obaid Ur Rahman'), ('age', 24), ('sex', 'Male'), ('address', 'Clifton')])

In [30]:
dict1.keys()

dict_keys(['name', 'age', 'sex', 'address'])

In [31]:
dict1.values()

dict_values(['Obaid Ur Rahman', 24, 'Male', 'Clifton'])

In [32]:
dict1['name']

'Obaid Ur Rahman'

In [33]:
dict1.get('location', 'No Location Found..!!')

'No Location Found..!!'

In [34]:
dict1['dict2'] = {}

In [35]:
dict1

{'address': 'Clifton',
 'age': 24,
 'dict2': {},
 'name': 'Obaid Ur Rahman',
 'sex': 'Male'}

In [36]:
dict1['dict2'][0] = 'Data 1'
dict1['dict2'][1] = 'Data 2'

In [37]:
dict1

{'address': 'Clifton',
 'age': 24,
 'dict2': {0: 'Data 1', 1: 'Data 2'},
 'name': 'Obaid Ur Rahman',
 'sex': 'Male'}

In [38]:
dict1['dict2'][2]  = {'Key 1' : 'Value1', 'Key 2' : 'Value2'}

In [39]:
dict1

{'address': 'Clifton',
 'age': 24,
 'dict2': {0: 'Data 1',
  1: 'Data 2',
  2: {'Key 1': 'Value1', 'Key 2': 'Value2'}},
 'name': 'Obaid Ur Rahman',
 'sex': 'Male'}

In [40]:
dict4 = dict1['dict2'][2].copy()
dict4

{'Key 1': 'Value1', 'Key 2': 'Value2'}

In [41]:
dict1['dict2'][2] = 'Hello Data'
dict1

{'address': 'Clifton',
 'age': 24,
 'dict2': {0: 'Data 1', 1: 'Data 2', 2: 'Hello Data'},
 'name': 'Obaid Ur Rahman',
 'sex': 'Male'}

In [42]:
dict4

{'Key 1': 'Value1', 'Key 2': 'Value2'}

In [43]:
days = list1.copy()
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [44]:
if 'Saturday' in days:
  print("Today is Saturday.!")
elif 'Monday' in days:
  print('Today is Monday')
else:
  print('Neither Monday Nor Saturday')
#if true no other will run
#if false elif will run
#elif also false, else will run

Today is Monday

In [45]:
i = 1
result = 1
factorial = 5
while i <=factorial:
  result = result * i
  i = i + 1
result

120

In [46]:
for i in range(1, 10):
  space = " "  *  (10-i)
  star = "*" * i
  print(space, star)
j = 2
while j in range (2, 10):
  space = " " * j
  star = "*" * (10-j)
  print(space, star)
  j += 1

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [47]:
def myFunction (param1, param2, param3 = None):
  print('This is the value of 1st parameter: ', param1)
  print('This is the value of 2nd parameter: ', param2)
  if param3:
    print("This is the value of 3rd parametr: ",param3)
  else:
    print("You have only input two parameters.!")

myFunction(15, 25)

This is the value of 1st parameter:  15
This is the value of 2nd parameter:  25
You have only input two parameters.!

In [48]:
myFunction(15, 25, 35)

This is the value of 1st parameter:  15
This is the value of 2nd parameter:  25
This is the value of 3rd parametr:  35

In [49]:
try:
  x = 15/0
except ZeroDivisionError:
  print('There is a zaero division error encountered...!!')
finally:
  print("Try & Except block is executed successfully...!!!!!")

There is a zaero division error encountered...!!
Try & Except block is executed successfully...!!!!!